nav {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 400px;
    border-radius: 20px; /* 모서리 둥글게 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-left: 20px;
    position: absolute; /* 절대 위치 지정 */
    z-index: 10; /* 다른 요소보다 위에 오도록 설정 */
}

nav ul {
    list-style-type: none; /* 점 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

nav li {
    margin: 20px 0; /* 항목 사이의 간격 조정 */
    display: flex;
    justify-content: center; /* 아이콘을 중앙에 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.fa-solid {
    font-size: 23px; /* 아이콘 크기 조정 */
    color: rgb(128, 169, 204); /* 아이콘 색상 설정 */
}

a {
    text-decoration: none; /* 링크 밑줄 제거 */
}