{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/7076248453.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/snow.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% block head %}
	    {% endblock %}
    </head>
    <body>
        <div class="background"></div> <!-- 흐림 효과를 위한 배경 -->
        {% include "effects/navbar.html" %}
        {% include "effects/snow.html" %}
        {% include "effects/music.html" %}

        {% if "login" not in request.path %}
        
        {% endif %}
        
        {% block content %}
        {% endblock %}
        
    </body>
</html>