<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <form method="post" id="purchaseForm">
                    {% csrf_token %}
                    <input class="hidden" value="" type="text" name="itemName" id="itemName">

                    <h5 id="modalTitle">Modal title</h5>
                    <h5 id="modalPrice">10</h5>

                    <div class="quantity-spinner">
                        <button type="button" onclick="decreaseValue()">-</button>
                        <input type="number" name="quantity" id="quantity" value="1" min="1">
                        <button type="button" onclick="increaseValue()">+</button>
                    </div>

                    <input type="text" id="modalTotalPrice" name="totalPrice" value="10" readonly>

                    <button type="button" id="submitButton" data-toggle="popover" data-placement="top" data-content="갈레온이 부족합니다.">
                        구매하기
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    function updateTotalPrice() {
        var quantity = parseInt(document.getElementById('quantity').value, 10);
        var price = parseInt(document.getElementById('modalPrice').textContent, 10);
        var totalPrice = quantity * price;

        // 총 가격을 input 요소에 업데이트
        document.getElementById('modalTotalPrice').value = totalPrice;
    }

    function increaseValue() {
        var value = parseInt(document.getElementById('quantity').value, 10);
        value = isNaN(value) ? 1 : value;
        value++;
        document.getElementById('quantity').value = value;
        updateTotalPrice();  // 개수를 올릴 때 총 가격 업데이트
    }

    function decreaseValue() {
        var value = parseInt(document.getElementById('quantity').value, 10);
        value = isNaN(value) ? 1 : value;
        value = value > 1 ? value - 1 : 1; // 최소 값 1
        document.getElementById('quantity').value = value;
        updateTotalPrice();  // 개수를 내릴 때 총 가격 업데이트
    }

    // 모달이 열릴 때 기본값으로 초기화
    $(document).ready(function () {
        $('#exampleModal1').on('show.bs.modal', function () {
            document.getElementById('quantity').value = 1;
            var initialPrice = document.getElementById('modalPrice').textContent;
            document.getElementById('modalTotalPrice').value = initialPrice;
        });

        // 제출 버튼 클릭 이벤트
        $('#submitButton').on('click', function () {
            var totalPrice = parseInt(document.getElementById('modalTotalPrice').value, 10);
            var userGaleon = parseInt('{{ user.galeon }}', 10); // 서버에서 user.galeon 값 가져오기

            if (totalPrice > userGaleon) {
                // popover 표시
                $(this).popover('show');
            } else {
                // 폼 제출
                $('#purchaseForm').submit();
                console.log("submitted!!");
                // 모달 닫기
                $('#exampleModal1').modal('hide');
            }
        });

        // popover 초기화
        $('[data-toggle="popover"]').popover({
            trigger: 'manual', // manual trigger
            animation: true,
            delay: { "show": 500, "hide": 100 }
        });

        // popover 숨기기
        $('[data-toggle="popover"]').on('mouseleave', function () {
            $(this).popover('hide');
        });
    });
</script>
